<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
	<body>
		{{{ body }}}
	</body>
</html>
